@CHARSET "EUC-KR";

.Titimg{ float:left; }
.pL_L{ border:1px #D8D8D8 solid; margin-top:10px;}
.pL_LTit{ height:13px; background-color:#F1F3F4; padding:6px; }
.pLJoin{ font-size:11px; text-decoration:underline; color:#777; vertical-align:3px; float:right; cursor:pointer; }
.pLJoin img{ border:0px; margin-left:3px; }
.pL_L ul{ list-style:none; margin:0px; padding:5px 10px 5px 10px; font-size:12px; }
.pL_L ul li{ padding:5px 0px 5px 0px; }
.pL_L ul li .adListTit{ color:#0000FF; text-decoration:underline; font-weight:bold;}
.pL_L ul li .adListTit:visited { color:#99209B; text-decoration:underline; font-weight:bold;}
.pL_L ul li .pLTxt{ display:block; margin:5px 0px 2px 0px; color:#777; line-height:130%; }
.pL_L ul li .adLink{ font-size:11px; color:#218D44; text-decoration:none;}
.pL_L ul li .adLink:hover{ text-decoration:underline;color:#218D44;  }

.pL_R{ width:773px; border:1px #ccc solid; padding:5px; margin-bottom:25px;}
.pL_R .pL_LTit{ padding-bottom:0px; background-color:#fff; }
.pL_R ul{ list-style:none; margin:0px; padding:5px 20px 5px 20px; font-size:12px; }
.pL_R ul li{ padding:5px 0px 5px 0px; }
.pL_R ul li .adListTit{ color:#0000FF; text-decoration:underline; font-weight:bold;}
.pL_R ul li .adListTit:visited { color:#99209B; text-decoration:underline; font-weight:bold;}
.pL_R ul li .adLink{ font-size:11px; color:#218D44; text-decoration:none; margin-left:3px; }
.pL_R ul li .adLink:hover{ text-decoration:underline; }
.pL_R ul li .pLTxt{ display:block; margin-top:2px;  color:#333; line-height:130%; }

.pL_RV1{ width:773px; border:1px #D8D8D8 solid; padding:5px; margin-bottom:25px;}
.pL_RV1 .pL_LTit{ padding-bottom:0px; background-color:#fff; }
.pL_RV1 ul{ list-style:none; margin:0px; padding:5px 15px 5px 15px; font-size:12px; }
.pL_RV1 ul li{ padding:3px 0px 3px 0px; }
.pL_RV1 ul li .adListTit{ color:#0000FF; text-decoration:underline; font-weight:bold;}
.pL_RV1 ul li .adListTit:visited { color:#99209B; text-decoration:underline; font-weight:bold;}
.pL_RV1 ul li .pLTxt{ margin-left:3px; color:#333; }


.pL_RV2{ width:783px; border:1px #D8D8D8 solid; margin-bottom:60px;}
.pL_RV2 .pL_LTit{ background-color:#fff; text-align:right; padding:0px 10px 10px 10px; }
.pL_RV2 .adListTit{ font-weight:bold; }
.pL_RV2 .pLJoin{ font-size:11px; text-decoration:underline; color:#777; vertical-align:3px; float:none; margin-left:10px; }
.pL_RV2 ul{ list-style:none; margin:0px;  padding:10px 5px 10px 5px; font-size:12px; overflow:hidden; }
.pL_RV2 ul li{ padding:0px 5px 0px 5px; display:inline-block; width:241px; height:66px; float:left; }
.pL_RV2 ul li .adListTit{ color:#0000FF; text-decoration:underline; font-weight:bold;}
.pL_RV2 ul li .adListTit:visited { color:#99209B; text-decoration:underline; font-weight:bold;}
.pL_RV2 ul li .pLTxt{ color:#777; margin:5px 0px 2px 0px; line-height:130%; display:block; }
.pL_RV2 ul li .adLink{ font-size:11px; color:#218D44; text-decoration:none; }
.pL_RV2 ul li .adLink:hover{ text-decoration:underline; }

.Titimg {
	float: left;
}

.pL_L {
	border: 1px #D8D8D8 solid;
	margin-top: 10px;
}

.pL_LTit {
	height: 13px;
	background-color: #F1F3F4;
	padding: 6px;
}

.pLJoin {
	font-size: 11px;
	text-decoration: underline;
	color: #777;
	vertical-align: 3px;
	float: right;
	cursor: pointer;
}

.pLJoin img {
	border: 0px;
	margin-left: 3px;
}

.pL_L ul {
	list-style: none;
	margin: 0px;
	padding: 5px 10px 5px 10px;
	font-size: 12px;
}

.pL_L ul li {
	padding: 5px 0px 5px 0px;
}

.pL_L ul li .adListTit {
	color: #0000FF;
	text-decoration: underline;
	font-weight: bold;
}

.pL_L ul li .adListTit:visited {
	color: #99209B;
	text-decoration: underline;
	font-weight: bold;
}

.pL_L ul li .pLTxt {
	display: block;
	margin: 5px 0px 2px 0px;
	color: #777;
	line-height: 130%;
}

.pL_L ul li .adLink {
	font-size: 11px;
	color: #218D44;
	text-decoration: none;
}

.pL_L ul li .adLink:hover {
	text-decoration: underline;
	color: #218D44;
}

.pL_R {
	width: 773px;
	border: 1px #ccc solid;
	padding: 5px;
	margin-bottom: 25px;
}

.pL_R .pL_LTit {
	padding-bottom: 0px;
	background-color: #fff;
}

.pL_R ul {
	list-style: none;
	margin: 0px;
	padding: 5px 20px 5px 20px;
	font-size: 12px;
}

.pL_R ul li {
	padding: 5px 0px 5px 0px;
}

.pL_R ul li .adListTit {
	color: #0000FF;
	text-decoration: underline;
	font-weight: bold;
}

.pL_R ul li .adListTit:visited {
	color: #99209B;
	text-decoration: underline;
	font-weight: bold;
}

.pL_R ul li .adLink {
	font-size: 11px;
	color: #218D44;
	text-decoration: none;
	margin-left: 3px;
}

.pL_R ul li .adLink:hover {
	text-decoration: underline;
}

.pL_R ul li .pLTxt {
	display: block;
	margin-top: 2px;
	color: #333;
	line-height: 130%;
}

.pL_RV1 {
	width: 773px;
	border: 1px #D8D8D8 solid;
	padding: 5px;
	margin-bottom: 25px;
}

.pL_RV1 .pL_LTit {
	padding-bottom: 0px;
	background-color: #fff;
}

.pL_RV1 ul {
	list-style: none;
	margin: 0px;
	padding: 5px 15px 5px 15px;
	font-size: 12px;
}

.pL_RV1 ul li {
	padding: 3px 0px 3px 0px;
}

.pL_RV1 ul li .adListTit {
	color: #0000FF;
	text-decoration: underline;
	font-weight: bold;
}

.pL_RV1 ul li .adListTit:visited {
	color: #99209B;
	text-decoration: underline;
	font-weight: bold;
}

.pL_RV1 ul li .pLTxt {
	margin-left: 3px;
	color: #333;
}

.pL_RV2 {
	width: 783px;
	border: 1px #D8D8D8 solid;
	margin-bottom: 60px;
}

.pL_RV2 .pL_LTit {
	background-color: #fff;
	text-align: right;
	padding: 0px 10px 10px 10px;
}

.pL_RV2 .adListTit {
	font-weight: bold;
}

.pL_RV2 .pLJoin {
	font-size: 11px;
	text-decoration: underline;
	color: #777;
	vertical-align: 3px;
	float: none;
	margin-left: 10px;
}

.pL_RV2 ul {
	list-style: none;
	margin: 0px;
	padding: 10px 5px 10px 5px;
	font-size: 12px;
	overflow: hidden;
}

.pL_RV2 ul li {
	padding: 0px 5px 0px 5px;
	display: inline-block;
	width: 241px;
	height: 66px;
	float: left;
}

.pL_RV2 ul li .adListTit {
	color: #0000FF;
	text-decoration: underline;
	font-weight: bold;
}

.pL_RV2 ul li .adListTit:visited {
	color: #99209B;
	text-decoration: underline;
	font-weight: bold;
}

.pL_RV2 ul li .pLTxt {
	color: #777;
	margin: 5px 0px 2px 0px;
	line-height: 130%;
	display: block;
}

.pL_RV2 ul li .adLink {
	font-size: 11px;
	color: #218D44;
	text-decoration: none;
}

.pL_RV2 ul li .adLink:hover {
	text-decoration: underline;
}
.message_box_area .btn_message {
	display:inline-block; height:22px; padding-left:8px; background:url('/sinnara/main_note/images/message/bg_message_btn.gif') no-repeat left top;
}

.message_box_area .btn_message span {
	display:inline-block; height:22px; padding-right:8px; background:url('/sinnara/main_note/images/message/bg_message_btn.gif') no-repeat right top; 
	line-height:24px; vertical-align:top; font-size:12px; color:#333;
}

.message_box_area .btn_delete {
	display:inline-block; height:22px; padding-left:18px; background:url('/sinnara/main_note/images/message/bg_delete_btn.gif') no-repeat left top;
}

.message_box_area .btn_delete span {
	display:inline-block; height:22px; padding-right:8px; background:url('/sinnara/main_note/images/message/bg_delete_btn.gif') no-repeat right top; 
	line-height:24px; vertical-align:top; font-size:12px; color:#333;
}
					
