@CHARSET "EUC-KR";
/*
 REUP 
reup@reup.co.kr
*/

/*@import url("accessibility.css");	/* Web Accessibility */
/*@import url("layout.css");			/* Layout */
/*@import url("content.css");			/* Content */

/* Type Selector */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	/*background:transparent;
	line-height:normal;*/
	line-height:130%;
}
body	{
	font-size:12px;
	font-family:Gulim, "굴림", Helvetica, Verdana, Arial, sans-serif;
}

/* Anchor */
a:link				{color:#393939; text-decoration:none;}
a:visited			{color:#393939; text-decoration:none;}
a:hover				{color:#393939; text-decoration:underline;}
a:active				{color:#393939; text-decoration:none;}

table					{width:100%;}
table, th, td		{border-collapse:collapse; border-spacing:0;}
table caption		{display: none;}

img					{border:0px; vertical-align:top;}
hr						{display:none;}
col					{background:none;}
li						{list-style:none;}

/* floating 을 해제하기 위한 클래스 추가, 의미없는 clear만 있는 gabage source 제거 */
.clearfix:after		{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix				{display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix	{height: 1%;}
.clearfix				{display: block;}
/* End hide from IE-mac */

/* Layout Selector */
.relative				{position:relative;}
.posiL				{position:absolute; top:0; left:0;}
.posiR				{position:absolute; top:0; right:0;}
.floatL				{float:left !important;}
.floatR				{float:right !important;}
.alignL				{text-align:left !important;}
.alignC				{text-align:center !important;}
.alignR				{text-align:right !important;}
.alignT				{vertical-align:top !important;}

/* Design Style */
.bgNone				{background:none !important;}

/* Button */
.btnArea			{overflow:hidden; *zoom:1; text-align:center;}
.btnL					{float:left;}
.btnL img			{vertical}

.btnR					{float:right;}

/* Font Style
.pointOrange		{color:#ffc000;}
 */

/* Form Selector */
.inputText			{height:17px; line-height:17px; color:#777; padding:0 0 0 5px; vertical-align:middle; border: 1px solid #ccc; font-family:"돋움", Dotum, Verdana, Tahoma;}
.inputCheck		{vertical-align:middle; width:20px; height:20px; position:relative; top:-1px;_top:-3px;}
.inputRadio		{vertical-align:middle; position:relative; top:-2px;_top:-4px;}
label					{display:inline-block;}

button				{margin:0; padding:0; font-size:0; border:none; background:none; width:auto; height:auto; overflow:visible;}
fieldset				{border:0; margin:0; padding:0;}
legend				{display:none}
/* form *				{vertical-align:middle;} */
select				{height:19px; border:1px solid #ccc; font-size:12px; font-family:"돋움",dotum;}

/* Margin(주요 레이아웃 간격 조정을 위한 클래스로 최소한으로 생성) */
.mgB5				{margin-bottom:5px !important;}
.mgB10				{margin-bottom:10px !important;}

/* Cursor */
.cursorHand		{cursor:pointer;}
.cursorMove		{cursor:move;}

/* Radius */
.radiusBox			{
	background-color:#fff;
	border:1px solid #d7d7d7;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Square Box */
.squareBox			{border:1px solid #dadada;}

/* Radius Box(Img) */
.radiusBoxTop		{height:4px; background:url('/SinnaraPrj/sinnara/main_note/images/common/bg/bg_radiusBoxTop.gif') no-repeat left top;}
.radiusBoxBody		{background:url('/SinnaraPrj/sinnara/main_note/images/common/bg/bg_radiusBoxBody.gif') repeat-y left top;}
.radiusBoxBottom	{height:4px; background:url('/SinnaraPrj/sinnara/main_note/images/common/bg/bg_radiusBoxBottom.gif') no-repeat left top;}

/* Title */
h1,h2,h3,h4,h5,h6	{letter-spacing:-.1em;}

/* Scroll */
.scroll					{scrollbar-face-color:#fff;scrollbar-shadow-color:#f0f0f0;scrollbar-highlight-color:#f0f0f0;scrollbar-3dlight-color:#fff;scrollbar-darkshadow-color:#fff;scrollbar-track-color:#fafafa;scrollbar-arrow-color:#f0f0f0;}




.pop_cont .tbl_report td .info_txt_box {margin:0 10px 10px; padding:15px 10px 10px 10px; border:1px solid #d3d3d3; background:#fafafa;}





legend	{position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* For Screen Reader */ 

.accessibility_nav		{position:absolute; top:0; left:50%; width:300px; margin-left:-150px; z-index:777;}
.accessibility_nav li	{list-style:none;}
.accessibility_nav a {
	position: absolute;
	top: -10000px;
	left: 0;
	width:100%;
	display: block;
	height: 12px;
	padding: 5px 30px;
	background: #eaeaea;
	border:1px solid #999;
	font:bold 100%/100% Malgun Gothic;
	text-align: center;
	color: #000;
	}
	
.accessibility_nav a:hover, .accessibility_nav a:focus, .accessibility_nav a:active	{
	position: absolute;
	top: 0;
	left: 0;
	}

.accessibility		{position:absolute; top:0; left:0; visibility:hidden;}
.accessibility_top	{position:absolute; top:0; left:0; visibility:hidden;}
.accessibility_view	{position:relative; visibility:visible; width:auto; height:auto; font-size:100%; line-height:normal;}





body {min-width:1000px;}
#wrap	{position:relative; min-width:1000px; height:100%; margin:0 auto; background:url('/images/common/bg/bg_side_bar.gif') no-repeat right top; overflow:hidden;}

/* Header */
#header {position:relative; /*width:990px;*/ height:106px; margin:0 auto; z-index:1;}
#header h1 {float:left; margin-top:25px; }
#header .totalSearchArea {float:left; margin-top:25px; margin-left:70px; height:50px;}
#header .totalSearchArea input {vertical-align:middle;}
#header .totalSearchArea .inputText {width:250px; height:31px; line-height:31px; padding-left:16px; border:none; background:url('/images/common/bg/bg_input_text.gif') no-repeat left top;}
#header .totalSearchArea .srch_history {margin:5px 0 0 20px; padding:2px 0 0 20px; background:url('/images/common/bul/bul_srchhistory.gif') no-repeat left 2px;}
#header .totalSearchArea .srch_history a {display:inline-block; margin-right:6px; font-size:11px; color:#8a8a8a; letter-spacing:-1px;}

/*
#header .totalSearchArea .inputText {outline:none; padding-left:15px; width:439px; height:37px; line-height:31px; border:none; background:url('/images/common/bg/bg_input_text1.gif') no-repeat left top;}
#header .totalSearchArea .srch_history {margin:-11px 0 0 20px; padding:2px 0 0 20px; background:url('/images/common/bul/bul_srchhistory.gif') no-repeat left 2px;}
#header .totalSearchArea .srch_history a {display:inline-block; margin-right:6px; font-size:11px; color:#8a8a8a; letter-spacing:-1px;}
*/

#header .banner {position:absolute; top:13px; right:0;}
#header .banner .pagt {position:absolute; top:4px; right:109px; width:80px; color:#888; font-size:11px;}
#header .banner .pagt img {margin-left:5px;}
#header .banner .num strong {color:#555;}
#header .banner .img img {width:157px; height:54px;}

#header .tooltip {display:inline-block; float:left; width:70px; position:relative;}
#header .tooltip .user_layer {position:absolute; top:18px; left:-17px; display:none; min-width:118px; padding:15px; border:2px solid #16305f; background:#fff;}
#header .tooltip .user_layer ul li a {padding-left:8px; line-height:18px; color:#000; font-size:12px; background:url('/images/common/bul/bul_user.gif') no-repeat left 2px;}

.topBar_wrap{position:relative; width:100%; background:#f9f9f9; border-bottom:1px solid #bbbabf;}
.topBar {height:30px; z-index:100; width:990px; margin:0 auto;}
.topBar .menu {float:left; margin-top:8px}
.topBar .menu a {display:inline-block; color:#888; font-size:11px;}
.topBar .menu a.bookmark {margin-right:13px; padding:2px 0 0 16px; background:url('/images/common/bul/bul_bookmark.gif') no-repeat left 1px;}
.topBar .menu a.app {padding:2px 0 0 19px; background:url('/images/common/bul/bul_app.gif') no-repeat left top;}
.topBar .info {float:right; margin-top:8px; font-size:11px; color:#555; display:inline-block;}
.topBar .info .user {color:#ff8300; margin-right:15px; white-space:nowrap;}
.topBar .info .line {margin:0 10px; color:#9f9f9f;}
.topBar .info a {color:#555;}
.topBar .info a.blue {display:inline-block; margin:0 3px; color:#3186c6;}
.topBar .info a.mypage {color:#0072bc; font-weight:bold;}
.topBar .info .btn_img {position:relative; top:-3px; margin:0 0 0 15px;}

.my_menu {margin-bottom:10px; padding:4px; background:#eee; border:1px solid #cdcdcd;}
.my_menu.mb0 {margin-bottom:0;}
.my_menu.mb10 {margin-bottom:10px;}
.my_menu .inBox {padding:13px 0 13px 13px; background:#fff;}
.my_menu .inBox .btn {display:block; margin-bottom:6px;}
.my_menu .inBox .select {float:left; margin-top:2px;}
.my_menu .inBox .select .designedSelect p a span.text {font-weight:normal !important; color:#666;}
.my_menu .inBox .set {float:left; padding:3px 0 0 13px; background:url('/images/common/bul/bul_set.gif') no-repeat left .35em; font-size:11px; color:#666;}

.mobile_board {margin-bottom:10px;}

.other_works {margin-bottom:5px; border:1px solid #baced5;}
.other_works .nickname {height:17px; padding:9px 0 0 10px; color:#555555; border-bottom:1px solid #ecf1f3; background:#e2eaed;}
.other_works .nickname strong {color:#444;}
.other_works .work_list {padding:10px; border-top:1px solid #d4e1e5;}
.other_works .work_list li a {display:inline-block; width:150px; padding-left:7px; line-height:22px; background:url('/images/common/bul/bul_lnb_2depth.gif') no-repeat left 8px; color:#777; letter-spacing:-1px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.flash_viewer {margin-bottom:7px;}
.agent {margin:7px 0 0 0;}
.review_left {width:183px; height:279px; margin-top:10px; border:1px solid #e8e8e8; background:#f5f5f5;}

.work_preferred {position:relative; border:1px solid #cacacf; margin-bottom:10px;}
.work_preferred .age {position:relative; height:20px; padding:10px 0 0 10px; border-bottom:1px solid #d4d4d8; font-size:12px; font-weight:bold; color:#444;}
.work_preferred .age .blue {color:#4c92e3;}
.work_preferred .btn {position:absolute; top:8px; right:15px; z-index:100;}
.work_preferred .btn a {margin-left:5px;}
.work_preferred .preferred_area {padding:15px 15px 15px 14px;}
.work_preferred .nav {margin-bottom:10px;}
.work_preferred .nav li {float:left;}
.work_preferred .nav li a {display:inline-block; width:77px; height:24px; font-size:11px; color:#6d748f; line-height:24px; text-align:center; background:url('/images/common/bg/bg_pref_nav.gif') no-repeat left top;}
.work_preferred .nav li a.first {background:url('/images/common/bg/bg_pref_nav_first.gif') no-repeat left top;}
.work_preferred .nav li a:hover,
.work_preferred .nav li a.current {width:77px; height:24px; font-weight:bold; color:#fff; background:#929fa5; text-decoration:none;}

.work_preferred .preferred_area .ranking li {position:relative; line-height:22px; margin-left:2px;}
.work_preferred .preferred_area .ranking li img {vertical-align:middle; position:relative; top:-2px;}
.work_preferred .preferred_area .ranking li a {display:inline-block; width:130px; font-size:11px; color:#666; letter-spacing:-1px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle;}
.work_preferred .preferred_area .ranking li em {position:absolute; top:3px; right:0; font-size:11px; color:#a2a2a2; font-style:normal;}
.work_preferred .preferred_area .ranking li em.name {color:#2c95d7;}

/* Global Navigation bar */
#gnb {position:relative; width:990px; margin:0 auto; z-index:4; top:-6px}
#gnb .more {position:absolute; top:22px; left:637px;}
#gnb .real_time {position:absolute; top:22px; left:720px; width:100px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#gnb .real_time a {color:#fff; font-family:Gulim,Dotum,Arial,sans-serif;}
#gnb .real_time .ico {position:relative; top:5px;}
/* #gnb .guide {position:absolute; top:-4px; right:-50px; z-index:300;}*/
#gnb ul {overflow:hidden;}
#gnb ul li {display:inline-block !important; position:relative; float:left; padding-top:7px;}
#gnb ul li a {display:inline-block !important;}
#gnb ul li .icon {position:absolute; top:0; left:50%; margin-left:-14px; z-index:999}

/* Container */
#container:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
#container {position:relative; width:990px; margin:0 auto 0; padding-top:25px; padding-bottom:50px; min-height:700px;}
#left_cont {float:left; width:185px;}
#eft_cont .mobile_board {margin-bottom:5px;}
#content {float:right; width:785px; position:relative}

.lnb {margin-bottom:10px; border:1px solid #a0adbf; background-color:#f8f8f8;} 
.lnb.mb0 {margin-bottom:0;}
.lnb ul {margin:14px 0 14px 20px;}
.lnb ul li {line-height:20px; font-weight:bold; color:#7a8a9f;}
.lnb ul li a {display:inline-block; color:#6284a0;}
.lnb ul li a:hover,
.lnb ul li a.current {text-decoration:none; padding-right:20px; background:url('/images/common/bul/bul_lnb_current.gif') no-repeat right 2px; color:#f79d01;}
.lnb ul .depth2 {margin:0;}
.lnb ul .depth2 li a {padding-left:13px; color:#666; font-weight:normal; background:url('/images/common/bul/bul_lnb_2depth.gif') no-repeat 5px 5px;}
.lnb ul .depth2 li a.current {font-weight:bold; color:#ff5a00; background:url('/images/common/bul/bul_lnb_2depth_on.gif') no-repeat 5px 5px;}
.lnb ul .depth2 li a:hover {text-decoration:underline;}

/* Footer */
#footer {clear:both; z-index:15; width:100%; height:300px; background:#fff url('/images/common/bg/bg_footer.gif') repeat-x left top;}
#footer .footer_area {width:990px; margin:0 auto; overflow:hidden; position:relative; }
#footer .footer_area .list {left:-15px; position:relative; width:690px; margin:0 auto; display:inline-block; height:27px; margin-bottom:16px; padding:15px 0 0 0; overflow:hidden;}
#footer .footer_area .list li {float:left; padding:0 13px 0 17px; background:url('/images/common/bul/bul_footer_line.gif') no-repeat right 2px;}
#footer .footer_area .list li a {color:#666;}
#footer .footer_area .list li.last {background:none;}
#footer .footer_area .add {margin-bottom:4px; line-height:16px; color:#4a4a4a; font-size:11px; color:#4a4a4a; float:left; text-align:left;}
#footer .footer_area p {color:#4a4a4a; font-size:11px; color:#4a4a4a; font-family:dotum, "돋움";}
#footer .footer_area .customer_number{float:left;border-left:1px solid #dddddd;border-right:1px solid #dddddd;padding-left:20px;margin-left:30px;margin-right:30px;padding-right:20px;}
#footer .footer_area .customer_number p{color:#888;margin-top:10px}
#footer .footer_area .customer_number ul{margin-top:10px;font-size:11px;color:#333;}
#footer .footer_area .customer_number li{background:url('/images/common/btn/img_customer_dot.gif') 0 7px no-repeat; padding-left:5px;line-height:18px}
#footer .footer_area .foot_sns{overflow:hidden;}
#footer .footer_area .foot_sns p{color:#888} 
/* Sider bar */
#side_bar {position:absolute; top:158px; right:0; z-index:500; width:111px; background:#e5e6e7; border-left:1px solid #d0d3d4;}
#side_bar .side_list li {padding:13px 11px; border-top:1px solid #ebebeb; border-bottom:1px solid #d0d3d4;}
#side_bar .side_list li.last {border-bottom:none;}
#side_bar .side_list li .favor_work li {border:none; text-align:center; margin:20px 0; padding:0;}
#side_bar .side_list li .favor_work li img {width:47px; height:59px; margin-bottom:7px;}
#side_bar .side_list li .favor_work li a {font-size:11px; color:#666; letter-spacing:-1px;}
#side_bar .side_list li .item_shop {margin-top:15px;}
#side_bar .side_list li .item_shop li {margin:0 0 8px 0; padding:0;}
#side_bar .side_list li a.add {display:inline-block; width:88px; height:118px; margin-left:4px; background:#fff; border:1px solid #878b94;}
#side_bar .favor_list {height:520px; overflow:hidden;}

/* Util bar */
#util_bar {position:absolute; bottom:0; left:50%; width:990px; height:33px; margin-left:-495px; border-left:1px solid #bcbcbc; border-top:1px solid #c7c7c7; border-right:1px solid #bcbcbc; background:#d3d3d5;}
#util_bar.util {position:relative;}
#util_bar.util .list {position:absolute; top:11px; left:35px; overflow:hidden;}
#util_bar.util .list li {float:left; margin-right:18px; padding-right:18px; background:url('/images/common/bul/bul_util_line.gif') no-repeat right 1px; font-weight:bold; font-family:Gulim,Dotum,Arial,sans-serif; font-size:12px;}
#util_bar.util .list li a {color:#8e8d8d;}
#util_bar.util .list li.last {background:none;}
#util_bar.util .btn {position:absolute; top:8px; right:10px;}

#bottom_util {position:absolute; bottom:0; left:0; width:988px; height:33px; border-left:1px solid #c8c8c8; border-top:1px solid #c8c8c8; border-right:1px solid #c8c8c8; background:#d9d9d9;}
#bottom_util .list {margin:10px 0 0 17px; overflow:hidden;}
#bottom_util .list li {float:left;}
#bottom_util .list li a {display:inline-block; padding:0 18px; font-weight:bold; color:#8f8e8e; background:url('/images/common/bul/bul_bottom_util.gif') no-repeat right top;}
#bottom_util .list li a.last {background:none;}
#bottom_util .btn_move {position:absolute; top:8px; right:10px; padding:2px 14px 0 24px; font-size:11px; color:#646464; border:1px solid #c5c5c7; background:#fff url('/images/common/bul/bul_bottom_btn.gif') no-repeat 10px 5px;}
#bottom_util a:hover {text-decoration:none;}

.l_banner01 {margin:-10px 0 10px;}



